adf-ucb-sisinfo-4216369/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-sisinfo-4216369"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureBlobStorage1\""
		},
		"dw_Airbnb_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"dw_Airbnb\""
		},
		"dw_Airbnb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisinfo-4216369.database.windows.net"
		},
		"dw_Airbnb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_airbnb"
		},
		"dw_Airbnb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "naty"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/etl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "df_dim_city",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_city_center",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_city",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city_center",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_cleanliness_rating",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_city_center",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_cleanliness_rating",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_dim_guest_satisfaction",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_cleanliness_rating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_guest_satisfaction",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_fact_stays",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_dim_guest_satisfaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_fact_stays",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ETL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_city')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_city_center')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_cleanliness_rating')]",
				"[concat(variables('factoryId'), '/dataflows/df_dim_guest_satisfaction')]",
				"[concat(variables('factoryId'), '/dataflows/df_fact_stays')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_city')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_city')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_city_center')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_city_center",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_city_center')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_cleanliness_rating')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_cleanliness_rating",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_cleanliness_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_fact_stays')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_fact_stays",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_fact_stays')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_guest_satisfaction')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_dim_guest_satisfaction",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_dim_guest_satisfaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bd_aemf1_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datos"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Aemf1.csv",
						"container": "airbnb"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "Day",
						"type": "String"
					},
					{
						"name": "Room Type",
						"type": "String"
					},
					{
						"name": "Shared Room",
						"type": "String"
					},
					{
						"name": "Private Room",
						"type": "String"
					},
					{
						"name": "Person Capacity",
						"type": "String"
					},
					{
						"name": "Superhost",
						"type": "String"
					},
					{
						"name": "Multiple Rooms",
						"type": "String"
					},
					{
						"name": "Business",
						"type": "String"
					},
					{
						"name": "Cleanliness Rating",
						"type": "String"
					},
					{
						"name": "Guest Satisfaction",
						"type": "String"
					},
					{
						"name": "Bedrooms",
						"type": "String"
					},
					{
						"name": "City Center (km)",
						"type": "String"
					},
					{
						"name": "Metro Distance (km)",
						"type": "String"
					},
					{
						"name": "Attraction Index",
						"type": "String"
					},
					{
						"name": "Normalised Attraction Index",
						"type": "String"
					},
					{
						"name": "Restraunt Index",
						"type": "String"
					},
					{
						"name": "Normalised Restraunt Index",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_city')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_Airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "City",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CITY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_Airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_city_center')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_Airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "City_Center",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CITY_CENTER"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_Airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_cleanliness_rating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_Airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Cleanliness_Rating",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_CLEANLINESS_RATING"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_Airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_fact_stays')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_Airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_facts",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "Price",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Day",
						"type": "varchar"
					},
					{
						"name": "Room_Type",
						"type": "varchar"
					},
					{
						"name": "Shared_room",
						"type": "varchar"
					},
					{
						"name": "Private_room",
						"type": "varchar"
					},
					{
						"name": "Bedrooms",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Person_Capacity",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Cleanliness_Rating",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Guest_Satisfaction",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "City_Center",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Metro_Distance",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Attraction_Index",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Restraunt_Index",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "fact_stays"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_Airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dim_guest_satisfaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_Airbnb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DW"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Guest_Satisfaction",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_GUEST_SATISFACTION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_Airbnb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_Airbnb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_Airbnb_properties_typeProperties_server')]",
					"database": "[parameters('dw_Airbnb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_Airbnb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_Airbnb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_city')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bd_aemf1_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_city",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          City",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc(City, true)) ~> sort1",
						"sort1 aggregate(groupBy(City),",
						"     each(match(name!='City'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          City as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          City",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bd_aemf1_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_city')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_city_center')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bd_aemf1_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_city_center",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as decimal(10,2),",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          {City Center (km)}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc({City Center (km)}, true)) ~> sort1",
						"sort1 aggregate(groupBy({City Center (km)}),",
						"     each(match(name!='City Center (km)'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          City_Center as decimal(9,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          City_Center = {City Center (km)}",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bd_aemf1_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_city_center')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_cleanliness_rating')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bd_aemf1_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_cleanliness_rating",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as decimal(10,2),",
						"          {Guest Satisfaction} as string,",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          {Cleanliness Rating}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc({Cleanliness Rating}, true)) ~> sort1",
						"sort1 aggregate(groupBy({Cleanliness Rating}),",
						"     each(match(name!='Cleanliness Rating'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Cleanliness_Rating as decimal(9,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Cleanliness_Rating = {Cleanliness Rating}",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bd_aemf1_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_cleanliness_rating')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_dim_guest_satisfaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bd_aemf1_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_guest_satisfaction",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as string,",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as string,",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as string,",
						"          {Guest Satisfaction} as decimal(10,2),",
						"          Bedrooms as string,",
						"          {City Center (km)} as string,",
						"          {Metro Distance (km)} as string,",
						"          {Attraction Index} as string,",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as string,",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          {Guest Satisfaction}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sort(asc({Guest Satisfaction}, true)) ~> sort1",
						"sort1 aggregate(groupBy({Guest Satisfaction}),",
						"     each(match(name!='Guest Satisfaction'), $$ = first($$))) ~> aggregate1",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Guest_Satisfaction as decimal(9,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          Guest_Satisfaction = {Guest Satisfaction}",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bd_aemf1_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_guest_satisfaction')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_fact_stays')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "bd_aemf1_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "dim_fact_stays",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "select1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          City as string,",
						"          Price as decimal(10,2),",
						"          Day as string,",
						"          {Room Type} as string,",
						"          {Shared Room} as string,",
						"          {Private Room} as string,",
						"          {Person Capacity} as decimal(10,2),",
						"          Superhost as string,",
						"          {Multiple Rooms} as string,",
						"          Business as string,",
						"          {Cleanliness Rating} as decimal(10,2),",
						"          {Guest Satisfaction} as decimal(10,2),",
						"          Bedrooms as string,",
						"          {City Center (km)} as decimal(10,2),",
						"          {Metro Distance (km)} as decimal(10,2),",
						"          {Attraction Index} as decimal(10,2),",
						"          {Normalised Attraction Index} as string,",
						"          {Restraunt Index} as decimal(10,2),",
						"          {Normalised Restraunt Index} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 select(mapColumn(",
						"          City,",
						"          Price,",
						"          Day,",
						"          {Room Type},",
						"          {Shared Room},",
						"          {Private Room},",
						"          {Person Capacity},",
						"          {Cleanliness Rating},",
						"          {Guest Satisfaction},",
						"          Bedrooms,",
						"          {City Center (km)},",
						"          {Metro Distance (km)},",
						"          {Attraction Index},",
						"          {Restraunt Index}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_facts as integer,",
						"          City as string,",
						"          Price as decimal(9,2),",
						"          Day as string,",
						"          Room_Type as string,",
						"          Shared_room as string,",
						"          Private_room as string,",
						"          Bedrooms as integer,",
						"          Person_Capacity as decimal(9,2),",
						"          Cleanliness_Rating as decimal(9,2),",
						"          Guest_Satisfaction as decimal(9,2),",
						"          City_Center as decimal(9,2),",
						"          Metro_Distance as decimal(9,2),",
						"          Attraction_Index as decimal(9,2),",
						"          Restraunt_Index as decimal(9,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'allErrors',",
						"     transactionCommit: 'single',",
						"     reportSuccessOnError: false,",
						"     mapColumn(",
						"          City,",
						"          Price,",
						"          Day,",
						"          Room_Type = {Room Type},",
						"          Shared_room = {Shared Room},",
						"          Private_room = {Private Room},",
						"          Bedrooms,",
						"          Person_Capacity = {Person Capacity},",
						"          Cleanliness_Rating = {Cleanliness Rating},",
						"          Guest_Satisfaction = {Guest Satisfaction},",
						"          City_Center = {City Center (km)},",
						"          Metro_Distance = {Metro Distance (km)},",
						"          Attraction_Index = {Attraction Index},",
						"          Restraunt_Index = {Restraunt Index}",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/bd_aemf1_csv')]",
				"[concat(variables('factoryId'), '/datasets/dim_fact_stays')]"
			]
		}
	]
}